@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #E74C3C;      /* Малиновый */
  --bg: #77a57d;           /* Тёмный фон */
  --card: #2D2D2D;         /* Карточки */
  --text: #FFFFFF;         /* Текст */
  --border: #404040;       /* Границы */

  --border-radius: 12px;
}



* {
    margin: 0;
    padding: 0;
}





body {
    font-family: "Sour Gummy", sans-serif;
    color: #f4f0ff;

    background:
    radial-gradient(
        circle at top center,
        #5b21b6 0%,
        #1e1b4b 35%,
        #020617 100%
    );


    background-repeat: no-repeat;



    display: flex;
    flex-direction: column;





    min-height: 100vh;


}


header, main, footer {
    margin: 2%;
}




header {
    background-color: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.22);


    padding: 0.3% 1% 0.3% 1%;

    border-radius: var(--border-radius);
}





main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


    backdrop-filter: blur(12px);

    border-radius: var(--border-radius);

    flex: 1;



}



.block {
    display: flex;
    flex-direction: column;



    padding: 1%;
    margin: 2%;

    text-align: center;
    align-items: center;
    justify-content: center;


    background-color: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(18px);
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.18);


    border: 1px solid rgba(255, 255, 255, 0.28);




    border-radius: var(--border-radius);



}




footer {
    display: flex;
    justify-content: space-between;


    background-color: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.22);

    padding: 0.3% 1% 0.3% 1%;



    border-radius: var(--border-radius);
}


a {
    color: #ddd6fe;
}



@media (max-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
}