@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #E74C3C;      /* Малиновый */
  --bg: #77a57d;           /* Тёмный фон */
  --card: #2D2D2D;         /* Карточки */
  --text: #FFFFFF;         /* Текст */
  --border: #404040;       /* Границы */

  --border-radius: 12px;
}



* {
    margin: 0;
    padding: 0;
}





body {
    font-family: "Sour Gummy", sans-serif;

    background:
    radial-gradient(
        circle at top center,
        #c4b5e8 0%,
        #a5b4fc 35%,
        #e0d4f7 100%
    );


    background-repeat: no-repeat;



    display: flex;
    flex-direction: column;








    min-height: 100vh;


}



header, main, footer {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);




    padding: 2%;
    margin: 1%;


    border-radius: var(--border-radius);



}




main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


    flex: 1;



}



.block {
    display: flex;
    flex-direction: column;



    padding: 1%;
    margin: 2%;

    text-align: center;
    align-items: center;
    justify-content: center;


    border: 2px solid rgba(255, 255, 255, 0.576);
    backdrop-filter: blur(55px);


    border-radius: var(--border-radius);



}




footer {
    display: flex;
    justify-content: space-between;

}


a {
    color: black;
}



@media (max-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
}