<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raspberry DashBoard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>PiMoic</h1>
    </header>

    <main>
        <div class="block">
            <h2>Operation system</h2>
            <p>{{ system }}</p>
        </div>

        <div class="block">
            <h2>Memory</h2>
            <p>{{ disk_static[1] }} / {{ disk_static[3] }} GB use</p>
        </div>

        <div class="block">
            <h2>Connect via SSH</h2>
            <p>{{ ssh }}</p>
        </div>

        <div class='block'>
            <h2>RAM</h2>
            <p>{{ memory_static }}%</p>
        </div>

        <div class="block">
            <h2>Network Traffic</h2>
            <p>↓ {{ network_traffic[0] }} Mb/s ↑ {{ network_traffic[1] }} Mb/s</p>
        </div>

        <div class="block">
            <h2>Public IP</h2>
            <p>{{ ip_address }}</p>
        </div>


        <div class="block">
            <h2>CPU</h2>
            <p>{{ cpu_static }}% cores</p>
        </div>

        <div class="block">
            <h2>Uptime</h2>
            <p>{{ uptime }} days</p>
        </div>
    </main>



    <footer>
        <p>Plat Ilich</p>
        <p>Весь код открыт и доступен на <a href="https://github.com/platilich">GitHub</a></p>
    </footer>


    <script src="../static/js/script.js"></script>

</body>
</html>