<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Название страницы</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <main>
        <h1>Raspberry Pi</h1>

        <div class="vhod">

            <img src="../static/images/icon.png" alt="Иконка Raspberry Pi">


            <form method="POST" action="/">
                <label>
                    <input class="pass" name="password" placeholder="Enter your password" type="password" />
                </label>
                <input type="submit" value="Submit">
            </form>
        </div>

    </main>

</body>
</html>